{% extends "base.html" %}



{% block title %}
Create Post
{% endblock %}
{% block main %}

<script src="http://code.jquery.com/jquery-1.5.js"></script>
<div class="jumbotron">
    <h1 class="display-4">Create a Post</h1>
</div>



<form method = "POST">
    <textarea id = "post" type="text" placeholder = "Enter your post here" required = "required" name = "post" class = "form-control" style = "height:250px;width:300px;font-size: large;" maxlength="100"></textarea>

    <div id="the-count">
        <span id="current">0</span>
        <span id="maximum">/ 100</span>
      </div>

    <button type="submit" class="btn btn-primary mt-3">Post</button>


</form>

<script>$('#post').keyup(function() {
    console.log($("#post").val().length);
    var characterCount = $(this).val().length,
        current = $('#current'),
        maximum = $('#maximum'),
        theCount = $('#the-count');
      
    current.text(characterCount);
   
    
    /*This isn't entirely necessary, just playin around*/
  });
  </script>

{% endblock %}