
{% extends "base.html" %}

{% block title %}
Landing page
{% endblock %}

{% block main %}
{% for message in get_flashed_messages() %}

<div class="message" id="message" style="color:green;font-size:30px;height:50px;padding:0px;">
    {% if "Invalid" in message %}
    <p style="color:white;background-color:red;">{{message}}</p>
    {% elif "Success" in message or "success" in message %}
    <p style="color:green;background-color:#D1FEC5">{{message}}</p>
    {% else %}
    <p>error</p>
    {% endif %}

</div>
{% endfor %}

<h1>Welcome to the Homepage, {{username}}</h1>


{% endblock %}