
{% extends "base.html" %}

{% block title %}
Landing page
{% endblock %}

{% block main %}
{% for message in get_flashed_messages() %}

<div class="message" id="message" style="color:green;font-size:30px;height:50px;padding:0px;">
    {% if "Invalid" in message %}
    <p style="color:white;background-color:red;">{{message}}</p>
    {% elif "Success" in message or "success" in message %}
    <p style="color:green;background-color:#D1FEC5">{{message}}</p>
    {% else %}
    <p>error</p>
    {% endif %}

</div>
{% endfor %}

<h1>Welcome to the Homepage, {{username}}</h1>


<a href="/createpost">
    <button class = "btn btn-success">Create A Post</button>
</a>

<h1>All posts</h1>




{% for post in posts %}
    

    <div style="margin-bottom: 100px;background-color: lightblue;"><p> Posted by {{post["email"]}} at {{post["time"]}}</p>
    <p>Post: {{post["post"]}}</p>
    </div>
        


{% endfor %}





{% endblock %}