{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
{% for message in get_flashed_messages() %}

<div class="message" id="message" style="color:green;font-size:30px;height:50px;padding:0px;">
    {% if "Invalid" in message %}
    <p style="color:white;background-color:red;">{{message}}</p>
    {% elif "Success" in message or "success" in message %}
    <p style="color:green;background-color:#D1FEC5">{{message}}</p>
    {% else %}
    <p>error</p>
    {% endif %}

</div>
{% endfor %}

<h1>Welcome to the Homepage, {{username}}</h1>


<a href="/createpost">
    <button class="btn btn-success">Create A Post</button>
</a>

<h1>All posts</h1>



<div class = "row">
{% for post in posts %}

<div class="card text-white bg-{{post['color']}} mb-3 col-sm-6 col-lg-4 col-md-3 px-2" style="max-width: 18rem;">
    <div class="card-header">{{post["time"]}}</div>
    <div class="card-body">
        <h5 class="card-title">{{post["email"]}}</h5>
        <p class="card-text">{{post["post"]}}</p>
    </div>
</div>




{% endfor %}
</div>




{% endblock %}