{% extends "base.html" %}

{% block title %}
Register
{% endblock %}
{% block main %}
<div class="jumbotron">
    <h1>Register</h1>
</div>

<form method="POST">
    <table>
        <tr>
            <td>
                <label for=""><b>First Name</b></label>

            </td>

            <td>
                <input type="text" placeholder="Enter First Name" required="required" name="firstname"
                    class="form-control">

            </td>
        </tr>

        <tr>
            <td>
                <label><b>Last Name</b></label>
            </td>
            <td>
                <input type="text" placeholder="Enter last name" required="required" name="lastname"
                    class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label><b>Password</b></label>
            </td>
            <td>
                <input type="password" placeholder="Create a password" required="required" name="password"
                    class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label><b>Email</b></label>
            </td>
            <td>
                <input type="text" placeholder="Enter your email" required="required" name="email" class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <label><b>Date of Birth</b></label>
            </td>
            <td>
                <input type="date" placeholder="Enter date of birth" required="required" name="date"
                    class="form-control">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Confirm" class="btn btn-primary">
            </td>

        </tr>
    </table>
</form>



{% for message in get_flashed_messages() %}

<div class="message" id="message" style="color:green;font-size:30px;height:50px;padding:0px;">
    {% if "already" in message %}
    <p style="color:white;background-color:red;">{{message}}</p>
    {% elif "Success" in message or "success" in message %}
    <p style="color:green;background-color:#D1FEC5">{{message}}</p>
    {% else %}
    <p>error</p>
    {% endif %}

</div>
{% endfor %}



{% endblock %}