{% extends "base.html" %}

{% block title %}
Friend Requests
{% endblock %}

{% block main %}



<div>
    {% for r in requests %}

    <div class="card text-white bg-info" style="max-width: 300px; margin-top: 10px;">
        <div class="card-header">
            <form method="POST">

                <div>
                    <tr>
                        <input name = "r" type = "hidden" value= "{{r}}" >
                        <td name="reqemail" id="reqemail" style="float: left;">{{r}}</td>
                        <td>

                            <table>
                                <tr>
                                    <td>
                                        <input type="submit" name="action" value="Accept" class="btn btn-primary"
                                            id="hi">
                                    </td>
                                    <td>
                                        <input type="submit" name="action" value="Decline" class="btn btn-danger">
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </div>
            </form>
        </div>

    </div>




    {% endfor %}
</div>



{% endblock %}